<%if current_participant.role? %> 
    <h1>New enrollment - Payment</h1>
<%else%>
	<h1>Course Registration - Payment</h1>
<%end%>

<div class="field">
    Thank you for registering. <b>Please pay $<%= @enrollment.price_owed %></b>.
</div>