<p><%= link_to "Create A New Course",  new_course_path%></p>

<h1>Courses Available</h1>
<hr>
<% @courses.each do |course| %>
	<h2><%= course.courseName %></h2>
	<p><%= course.instructor%></p>
	<hr>
<% end %>