<h1>StaticPages- adminhome - Hi team superior</h1>



<p> this is our admin home page. add your links to your sections here. and add corresponding back buttons later.. </p>
<p>Find me in app/views/static_pages/adminhome.html.erb</p>



<%= link_to 'Courses', courses_path %>
