<h1>StaticPages- adminhome - Hi team superior</h1>



<p> this is our admin home page. add your links to your sections here. and add corresponding back buttons later.. </p>
<p>Find me in app/views/static_pages/adminhome.html.erb</p>


<br><br>


<h3>Manage Members</h3>
<%= link_to 'Find a member', participants_path %>



<h3>Course stuff</h3>
<%= link_to 'Courses', courses_path %>
