<h1>NYSC Member Home Page</h1>
<h3>Hello,</h3>

	<p>Welcome to the North York Senior Centre Online Services. Please select an option below to continue.</p>
	  
<%= link_to 'Find a Course', courses_path %><br>

<%= link_to 'Logout', destroy_participant_session_path, :method => :delete %><br>