<h1>NYSC Membership Registration</h1>

<p>
<b>Username: _________________</b>
<br />
<b>Password: _________________</b>
<br />
<%= link_to "Login", members_path %></p>


<br />
<br />
<br />
<br />

<p>
	<%= link_to "Register for a New Membership", new_member_path %>
	<br />
	<br />
	<%= link_to "Register for classes as non-member", members_path %>
</p>
